.App {
  text-align: center;
  font-family: Helvetica;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1 {
  margin-bottom: 5px;
}

.hand {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  margin: 20px;
  margin-top: 0px;
}
